[Unit]
Description=DCIM DHCP Server
After=network.target

[Service]
Type=forking
PIDFile=/root/dcim/dhcpd.pid
ExecStart=/usr/sbin/dhcpd -q -cf /root/dcim/dhcpd.conf -lf /root/dcim/dhcpd.leases -pf /root/dcim/dhcpd.pid eth1
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill -TERM $MAINPID
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
